<a href="https://colab.research.google.com/github/lopacoder50/LOPA_AIML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a=2
b=5
print(2*5)

10

In [3]:
a=8
b=3
print(a/b)

2.6666666666666665

In [4]:
a=True
b=True
c=False
print(a and b)
print(a and c)
print(a or b)
print(not c)

True
False
True
True

In [5]:
a=5
b=2
print(a<<b)

20

In [6]:
a=5
b=2
print(a>>b)

1

In [9]:
a=5
a+=5
print(5)
a=-5
print(a)

5
-5

In [10]:
a=6
a*=6
print(a)
a/=6
print(a)

36
6.0

In [11]:
x=5
y=5
print(x is y)
y=6
print(x is not y)

True
True

In [12]:
x='hello'
print('A in x')

A in x

In [13]:
x='hello'
print('A notin x')

A notin x

In [20]:
#using if statement in python
a=int(input('enter a number'))
if a%2==0:
 print('even no=',a)

enter a number6
even no= 6

In [22]:
a=int(input('enter a number'))
if a%2==0:
  print('even no=',a)
else:
  print('odd no=',a)

enter a number6
even no= 6

In [24]:
#using if-elif statement
number=int(input("enter a number?"))
if number==10:
  print("number is equal to 10");
elif number==50:
  print("number is equal to 50");
elif number==100:
  print("number is equal to 100");
else:
  print("number is not equal to 10,50 or 100");

enter a number?100
number is equal to 100

In [25]:
#using for statement
x='lucy'
for i in x:
  print(i)

l
u
c
y